* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.altezza {
    height: 500px;
}

.container {
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.altezza .container {
    border: 1px solid #000;
}
        /* colore sfondi */
header {
    background-color: white;
    height: 50px;
    line-height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#jumbotron {
    background-color: turquoise;
}

main {
    background-color: transparent;
}

footer {
    background-color: black;
}

        /* elementi float */

.leftside {
    float: left;
}

.rightside {
    float: right;
}

        /* fine elementi float */

        /* proprietà elementi lista */

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    vertical-align: middle;
}

nav ul li a {
    color: gray;
    font-weight: 400;
}

a {
    text-decoration: none;
    font-size: 14px;
}

        /* proprietà (logo e right-button) */

#logo img {
    vertical-align: middle;
}

.button a {
    color: white;
    background-color: blue;
    display: inline;
    padding: 5px 10px;
}

        /* clearfix */

.clearfix {
    display: table;
    content: "";
    clear: both;
}