* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.altezza {
    height: 500px;
}

.container {
    width: 80%;
    margin: auto;
}

.altezza .container {
    border: 1px solid #000;
}

header {
    background-color: white;
    height: 100px;
}

#jumbotron {
    background-color: turquoise;
}

main {
    background-color: transparent;
}

footer {
    background-color: black;
}