* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.altezza {
    height: 500px;
}

.container {
    width: 80%;
    margin: auto;
}

.altezza .container {
    border: 1px solid #000;
}
        /* colore sfondi */
header {
    background-color: white;
    height: 50px;
    line-height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#jumbotron {
    background-color: turquoise;
}

main {
    background-color: transparent;
}

footer {
    background-color: black;
}

        /* elementi float */

#logo {
    float: left;
}

.leftside {
    float: left;
    margin-right: 550px;
}

.rightside {
    float: left;
}

.button {
    float: right;
}

        /* fine elementi float */

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

a {
    text-decoration: none;
}

#logo img {
    vertical-align: middle;
}

.clearfix {
    display: table;
    content: "";
    clear: both;
}